@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav float-right">
        <li>
            @Html.ActionLink("Bonjour " + User.Identity.GetUserName() + "!", "Dashboard", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = " text-light" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="text-light">Se déconnecter</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav float-right">
        <li>@Html.ActionLink("S'inscrire", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = " text-light" })</li>
        <li>@Html.ActionLink("se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = " text-light" })</li>
    </ul>
}
